<!DOCTYPE html>
<html>

<head>
	<title>Railway Systems</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

	<script src="{{ url_for('static', filename='js/app.js') }}" defer></script>

	<center>

		<h1>Railway Systems</h1>
		<a id="logout" href="/logout">Log Out</a></p>

		<div id="container">

			<div id="grep">
				<p>Enter a date (format "YYYY-MM-DD") to retrieve the logs from <b>text</b>:</p>
				<div id="formA">
					<form>
						<label for="command">Date:</label>
						<input type="text" id="command" name="command"/>
						<button id="send-grep">Search</button>
					</form>
				</div>
				<pre id="output-grep"></pre>
			</div>

			<div id="sql">
				<p>Enter a date (format "YYYY-MM-DD") to retrieve the logs from <b>the database</b>:</p>
				<div id="formB">
					<form>
						<label for="command-sql">Date:</label>
						<input type="text" id="command-sql" name="command-sql"/>
						<button id="send-sql">Search</button>
					</form>
				</div>
				<pre id="output-sql"></pre>
			</div>

		</div>

	</center>

</body>
